@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kaushan+Script&family=Marck+Script&family=Splash&display=swap');

body{
  background:#192226 !important;
}
html{
  scroll-behavior: smooth;
}
.navbar-inverse{
  background:#222B31 !important;
  border-bottom:4px solid #EE445F !important;
}

.navbar-brand{
  font:12px Lato !important;
  text-transform:uppercase;
  color:#FFF !important;
  letter-spacing:2px;
  margin-top:2px;
}
.nav{
  margin-bottom:0px;
  a {
    font: 500 11px Lato;
    letter-spacing:2px;
    padding:16px !important;
    color:#a3bfc6 !important;
    text-transform:uppercase;
    position:relative;
    z-index:1000;
  }
  a:hover{
    color:#FFF !important;
  }
  li{
    position:relative;
  }
}

.navbar-inverse .navbar-toggle{
  border:none;
}

.navbar-collapse{
  box-shadow:none !important;
  border:none !important;
}

.navbar-inverse .navbar-toggle:hover{
  background:transparent !important;
}

.navbar-inverse .navbar-toggle:focus{
  background:transparent !important;
}

.navbar-inverse .navbar-toggle:active{
  background:transparent !important;
}

.icon-bar{
  background:#a3bfc6 !important;
}

.hover{
  display:block;
  position:absolute;
  width:0%;
  height:100%;
  top:0px;
  left:0px;
  background:#EE445F !important;
  z-index:0;
  opacity:0;
}

@media (max-width: 767px) {
.nav{
  padding-bottom:20px;
  a{
    padding: 12px !important;
  }
}
}

@media (max-width: 480px) {
  .nav{
    padding-bottom:20px;
  }
}

/* header*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
:root{
  --dark-color: hsl(0,0%,0%);
  --light-color: hsl(0,0%,100%);
  --border-color-dark: hsl(10,95%,70%);
  --border-color-normal: hsl(10,95%,83%);
  --border-color-light: hsl(10,95%,93%);
}
*{
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* GLOBAL STYLES */
a{
  text-decoration: none;
  transition: .25s;
}
button{
  background: transparent;
  border: none;
  border-radius: 2em;
  cursor: pointer;
  font-size: .875em;
  font-weight: 600;
  color:#ff9201;
  height: 2em;
  letter-spacing: -.025em;
  text-transform: uppercase;
  transition: .25s;
}
button:hover{
  color:#5689c0;
}
header{
  min-height: 100vh;
}
img{
  height: 100%;
  object-fit: cover;
  object-position: 50% 80%;
  width: 100%;
}
p{
  color: var(--gray-color);
  font-size: .875em;
  hyphens: auto;
  line-height: 1.5;
  margin: 1em 0;
}

/* CONTAINERS STYLES */
.container{
  padding: 1em;
}
.flex-container{
  display: flex;
}

/* HEADER NAV */
.logo-link{
  color: var(--dark-color);
  font-weight: 600;
  letter-spacing: .125em;
  text-transform: uppercase;
}
.header-nav{
  align-items: center;
  flex-direction: column;
}
.header-menu{
  flex-wrap: wrap;
  justify-content: center;  
  padding: .75em 0;
}
.header-menu-link{
  color: var(--light-color);
  display: block;
  font-size: .75em;
  font-weight: 500;
  padding: .5em .75em;
  text-transform: uppercase;
}
.header-menu-link:hover{
  color:#fda62b;
  text-decoration: underline;
}

/* HEADER CONTENT */
.header-img{
  border-radius: 50%;
  box-shadow: 0 0 0 .5em var(--border-color-dark),
              0 0 0 1em var(--border-color-normal),
              0 0 0 1.5em var(--border-color-light);
  height: 15em;
  margin: 2em auto;
  overflow: hidden;
  width: 15em;
}
.header-description{
  margin: auto;
  max-width: 30em
}
.header-title{
  font-size: 2.5em;
  letter-spacing: -.025em;
  line-height: 1.25;
  font-family: 'Kaushan Script', cursive;
  margin-left: -.0625em;
}
.header-titles{
  font-size: 1.4em;
  color:#eaecc6;
  letter-spacing: -.025em;
  line-height: 1.25;
  font-family: 'Kaushan Script', cursive;

  margin-left: -.0625em;
}
.type-button{
  margin-top: 1em;
}
.type-button:after{
  content: " ▬";
  margin-left: .5em;
  vertical-align: .0715em;
}

@media only screen and (min-width: 1024px){ 
  /* GLOBAL STYLES */
  header{
    overflow: hidden;
  } 
  img{
    object-position: 50% 100%;
  }
  
  /* CONTAINERS STYLES */
  .container{
    padding: 2em;
  }
  
  /* HEADER NAV */
  .header-nav{
    flex-direction: row;
    justify-content: space-between;
  }
  .header-menu-link{
    padding: 0 1.5em;
  }
  .ghost-button{
    font-size: .75em;
  } 
  
  /* HEADER CONTENT */
  .header-content{
    position: relative;
  }
  .header-img{
    box-shadow: 0 0 0 2em var(--border-color-dark),
              0 0 0 4em var(--border-color-normal),
              0 0 0 6em var(--border-color-light);
    height: 55vw;
    margin: 0;
    position: absolute;
    right: -16vw;
    top: 0vw;
    width: 55vw;
  } 
  .header-description{
    margin: 6em 1em 0;
    max-width: 50vw;
  }
  .header-title{
    font-size: calc(1vw + 2.5em);
  }
}

@media only screen and (orientation: portrait) and (min-height: 1024px){
  .header-content{
    margin-top: 10vh;
  }
 
}



/*about styling*/
.about-heading{
  color:#71c5ee;font-family: 'Marck Script', cursive;


}
.about-area {
  padding: 10% 0;
}
.imgBox {
  border: 6px solid #fff;
  height: 250px;
  width: 250px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.imgBox:before {
  content: "";
  height: 250px;
  width: 250px;
  background: #ddd;
  border: 6px solid #fff;
  position: absolute;
  z-index: -1;
  top: 10px;
  left: -10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transform: rotate(-10deg);
  backface-visibility: hidden;
}
.imgBox:after {
  content: "";
  height: 250px;
  width: 250px;
  background: black;
  border: 6px solid #fff;
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transform: rotate(10deg);
  backface-visibility: hidden;
}
.imgBox img {
  width: 100%;
}
.content h2 {
  font-size: 50px;
  font-family: italianno;
  font-weight: 900;
  letter-spacing: 5px;
}
.content p {
  font-family: nunito;
  font-size: 20px;
  line-height: 2;
}
.content a {
  background: #016170;
  text-decoration: none;
  color: #fff;
  padding: 15px 35px;
  display: inline-block;
  border-radius: 50px;
  margin-top: 15px;
  font-family: yatra one;
}
@media (max-width: 1000px) {
  .imgBox {
    width: 100%;
    height: auto;
  }
  .imgBox:before {
    width: 100%;
    height: auto;
  }
  .imgBox:after {
    width: 100%;
    height: auto;
  }
}

.a-box {
  display: inline-block;
  width: 240px;
  text-align: center;
}

.img-container {
    height: 230px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}

.img-container img {
    transform: skew(0deg, -13deg);
    height: 250px;
    margin: -35px 0px 0px -70px;
}

.inner-skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, 13deg);
    font-size: 0px;
    margin: 45px 20px 20px 0px;
    height: 250px;
    width: 200px;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #04bcff;
  font-size: 18px;
}
.text-container div{
letter-spacing: .1em;}
/* work section*/

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0  auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
  
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;

}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration:underline;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 1.25rem;    
  font-weight: 500;
}
/* footer section */
img {
  max-width: 100%;
  height: auto;
}
      section {
          padding: 60px 0;
         /* min-height: 100vh;*/
      }
ul {
          margin: 0;
          padding: 0;
          list-style: none;
      }
.contact-area {
  border-bottom: 1px solid #353C46;
  background:#192226 !important;

}
.contact-content p {
  font-size: 15px;
  margin: 30px 0 60px;
  position: relative;
    text-align: center;

}

.contact-content p::after {
  background:#192226 !important;
  bottom: -30px;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 80%;
}

.contact-content h6 {
  color: #8b9199;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact-content span {
  color: #353c47;
  margin: 0 10px;
}

.contact-social {
  margin-top: 30px;
}

.contact-social > ul {
  display: inline-flex;
}

.contact-social ul li a {
  border: 1px solid #8b9199;
  color: #8b9199;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 40px;
}

.contact-social ul li a:hover {
  border: 1px solid #FAB702;
  color: #FAB702;
}

.contact-content img {
  max-width: 210px;
}

section, footer {
  background: #1A1E25;
  color: #868c96;
}

footer p {
  padding: 40px 0;
  text-align: center;
}

footer img {
  width: 44px;
}